@font-face {
        font-family: 'GT Walsheim Pro';
        src: local('GT Walsheim Pro Medium'), local('GT-Walsheim-Pro-Medium'),
            url('../font/GTWalsheimPro-Medium.woff2') format('woff2'),
            url('../font/GTWalsheimPro-Medium.woff') format('woff'),
            url('../font/GTWalsheimPro-Medium.ttf') format('truetype');
        font-weight: 500;
        font-style: normal;
    }


    a {
      color: #000000;
      text-decoration: none;
      background-color: transparent;
    }

    body {
      font-family: "GT Walsheim Pro";
      font-size: 1rem;
    }


    .light-text {
      color: #6c757d!important;
    }

    .navbar{
      background: #ffffff;
      box-shadow: 0px 2px 8px rgba(72, 74, 82, 0.08);
    }
    .navbar-light .navbar-nav .active>
    .current-page {
      color: #416EA8;
    }
    .navbar-light .navbar-nav>
    .curr-page-ul {
      border-bottom: 2px solid #416EA8;
    }
    .navbar-light .navbar-nav .active>.nav-link:hover {
      color: #416EA8;
    }
    @media(max-width: 768px) {
      .navbar-light .navbar-nav>
      .curr-page-ul {
        border: none;
      }
    }


    .btn-custom {
      color: #fff;
      background-color: #416EA8;
      border-color: #416EA8;
    }
    .btn-outline-custom {
      color: #416EA8;
      border-color: #416EA8;
    }
    .btn-responsive {
      padding: .5rem 1rem;
      font-size: 1.25rem;
      line-height: 1.5;
      border-radius: .3rem;
    }
    @media(max-width: 768px){
      .btn-responsive {
        padding: .25rem .5rem;
        font-size: .875rem;
        border-radius: .2rem;
      }
    }

    .highlight {
      font-size: 1rem;
    }

    .line {
      margin: 1.5rem 0;
      border: 2px solid rgba(33, 33, 33, 0.12);
    }

    .profile-userpic img {
      float: none;
      margin: 0 auto;
      -webkit-border-radius: 50% !important;
      -moz-border-radius: 50% !important;
      border-radius: 50% !important;
      width: 100%;
      height: 100%;

    }

    @media (min-width: 768px) {
      .profile-userpic img {
        max-height: 30px;
        max-width: 30px;
      }
      .padding {
        padding: .75rem !important;
      }
      .highlight {
        font-size: 1.5rem;
      }
    }

    .top {
      border-top: 1px solid rgba(222,226,230, 1);
    }

    #logo {
      width: 100%;
      max-width: 100px;
      max-height: auto;
    }

    #company-name {
      font-weight: 700;
      line-height: 1.2;
      font-size: 2.25rem;
    }

    #table-head {
      border-bottom: 1px solid rgba(222,226,230, 1);
    }


    @media(max-width: 768px) {
      #company-name {
        text-align: center;
        margin-bottom: 1.5rem;
      }
    }









    .editmodal {
      align-items: center;
      align-content: center;
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      padding-top: 500px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    .editmodalcontent {
        position: relative;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
        background-clip: padding-box;
        border-radius: .3rem;
        outline: 0;
    }


    .card-container.card {
        max-width: 500px;
        padding: 40px 40px;
        border-radius: 10px;
    }

    .btn {
        font-weight: 700;
        height: 36px;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        cursor: default;
    }

    /*
     * Card component
     */
    .card {
        background-color: 	#FFFFFF;
        /* just in case there no content*/
        padding: 20px 25px 30px;
        margin: 0 auto 25px;
        margin-top: 50px;
        /* shadows and rounded borders */
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }

    .profile-img-card {
        width: 100px;
        height: 96px;
        margin: 0 auto 10px;
        display: block;

        border-radius: 50%;

    }

    /*
     * Form styles
     */
    .profile-name-card {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        margin: 10px 0 0;
        min-height: 1em;
    }

    .reauth-email {
        display: block;
        color: #404040;
        line-height: 2;
        margin-bottom: 10px;
        font-size: 14px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .form-signin #inputEmail,
    .form-signin #inputPassword {
        direction: ltr;
        height: 44px;
        font-size: 16px;
    }

    .form-signin input[type=text],
    .form-signin input[type=text],
    .form-signin input[type=text],
    .form-signin input[type=file]
    {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        z-index: 1;
        position: relative;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background-color:#DCE9E8;
    }

    .form-signin .form-control:focus {
        border-color: rgb(104, 145, 162);
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    }

    .btn.btn-signin {
        /*background-color: #4d90fe; */
        /*background-color: rgb(104, 145, 162);
        /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
        display: block;
        margin-bottom: 100px;
        z-index: 1;
        position: relative;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 12px 10px 10px 12px;
        width: 50px;
        height: 42px;
        left: 0px;
        top: 0px;
        display: flex;
        border-radius: 3px;
        /*border-radius: 3px;*/
        /*border: none;
        background-color: #FFFFFF;
        -o-transition: all 0.218s;
        -moz-transition: all 0.218s;
        -webkit-transition: all 0.218s;
        transition: all 0.218s;*/
    }

    .btn.btn-signin:hover,
    .btn.btn-signin:active,
    .btn.btn-signin:focus {
        background-color: rgb(12, 97, 33);
    }

    .forgot-password {
        color: rgb(104, 145, 162);
    }

    .forgot-password:hover,
    .forgot-password:active,
    .forgot-password:focus{
        color: rgb(12, 97, 33);
    }

    h4.prof{
      text-align: center;
      margin-bottom: 20px;

      font-size: 20px;
      font-weight: bold;
      font-family: GT Walsheim Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
    }

    label.company-name{
      font-family: GT Walsheim Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */

    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #B6B6B6;
    }

    button.mybtn{
      background: #416EA8;
    border-radius: 4px;
      color : #FFFFFF;
    /*  display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 0px 0px 20px;
    flex: none;
    order: 0;
    align-self: center;
    flex-grow: 0;
    margin: 26px 70px;

    position: static;
    width: 144px;
    height: 42px;
    left: 0px;
    top: 0px;
    */
    display: block;
    margin-bottom: 100px;
    z-index: 1;
    position: static;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 12px 10px 10px 12px;
    width: 144px;
    height: 42px;
    left: 0px;
    top: 0px;


    }

    input.myfile{
      color : #FFFFFF;
    }

    button.mybtn{
      background: #416EA8;
    border-radius: 4px;
      color : #FFFFFF;
     display: flex;
    /*flex-direction: row;
    align-items: flex-start;
    padding: 12px 0px 0px 20px;
    flex: none;
    order: 0;
    align-self: center;
    flex-grow: 0;
    margin: 26px 70px;*/

    position: static;
    width: 144px;
    height: 42px;
    left: 0px;
    top: 0px;

    display: block;
    margin-bottom: 100px;
    z-index: 1;
    position: static;


    padding: 12px 10px 10px 12px;
    width: 144px;
    height: 42px;
    left: 0px;
    top: 0px;

    }



    button.uploadbtn{

      /*
      margin-left: 70px;




      */
      border-width: thin;
      font-family: GT Walsheim Pro;
      color : #416EAB;
      background-color: #FFFFFF;
      border-color: #304980;
      border-radius: 7px;
      width: 100%;
      height:30px;
      align-items: center;


          }











//add intern card css
          #addinternmodal {
            align-items: center;
            align-content: center;
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            padding-top: 400px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
          }
          .modaladdinterncontent {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
          }

            .cardaddintern{
              padding: 24px;
              box-sizing: border-box;
              width: 540px;
              height: 705px;
              margin: auto;
              background: #FFFFFF;
              border-radius: 16px;
          }

            .cardaddintern h1{
               color:  #212121;
            font-weight: bold;
            font-size: 27px;
            line-height: 27px;
            flex: none;
            order: 0;
            text-align: center;
            }
            .cardaddintern h2
            {

            margin-block-start: 24px;
            font-size: 16px;
            line-height: 18px;

            color: #3A3A3A;



            }
              .box
              {
                height: 52px;
              }
              .box p
              {
                padding-top: 28px;



              font-weight: normal;
              font-size: 12px;
              line-height: 14px;
              /* identical to box height */

              letter-spacing: 0.08em;
              text-transform: uppercase;

              color: #6A6A6A;
              background-color: white;


              /* Inside Auto Layout */

              flex: none;
              order: 0;
              align-self: center;


              }
              .cardaddintern input[type=text], select
              {

              width: 100%;
              height: 52px;
              left: 0px;
              top: 26px;
              border-width: 0px;
              background: #EEF4FB;
              border-radius: 6px;
              border-color:  #EEF4FB;
              outline: none;
              }
              .box-2 a
              {
                margin-block-start: 28px;
                float: right;
                font-size:11px ;
              }
              .box-2 p

              {
                margin-block-start: 28px;
                float: left;
                font-weight: normal;
              font-size: 12px;
              line-height: 14px;
              /* identical to box height */

              letter-spacing: 0.08em;
              text-transform: uppercase;

              color: #6A6A6A;
              background-color: white;


              /* Inside Auto Layout */

              flex: none;
              order: 0;
              align-self: center;
              }
              .box-2
              {
                height:52px ;

              }
              .bottom
              {

              text-align: center;
              margin-top: 30px;
              box-sizing: border-box;

              }
              .button-one
              {
                color:#416EA8;
                 display: inline-block;

              border-width: 0px;

              width: 105px;
              height: 42px;

              background-color: white;

              /* Inside Auto Layout */


              align-self: center;


              }
              .button-two
              {
                background: #416EA8;
               border-color: white;
                color: white;
              top: 0px;

              padding: 12px 36px;
              border-width: 0px;

              width: 105px;
              height: 42px;

              display: inline-block;
              cursor: pointer;
              border-radius: 4px;
              outline: none;
              /* Inside Auto Layout */

              align-self: center;


              }
              .closeaddintern{
                align-content: center;
              }


          @media screen and (max-width:400px) {
            .cardaddintern
            {
              width: 100%;
            }


            }
            @media screen and (max-height:950px) {
              .container
              {
              height:953px;
              }


              }








// question card css


        #myquesModal {
          align-items: center;
          align-content: center;
          display: none; /* Hidden by default */
          position: fixed; /* Stay in place */
          padding-top: 400px; /* Location of the box */
          left: 0;
          top: 0;
          width: 100%; /* Full width */
          height: 100%; /* Full height */
          overflow: auto; /* Enable scroll if needed */
          background-color: rgb(0,0,0); /* Fallback color */
          background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }
        .quesmodalcontent {
          background-color: #fefefe;
          margin: auto;
          padding: 20px;
          border: 1px solid #888;
          width: 80%;
        }


        .input{
            width: 100%;
            height: 52px;
            border: none;
            background: #EEF4FB;
            border-radius: 6px;
            padding-left: 25px;
            margin-top: 10px;
        }

        .quesCard{
            width: 540px;
            height: 705px;
            margin: auto;
            background: #FFFFFF;
            border-radius: 16px;


        }

        .heading{
            font-family: GT Walsheim Pro;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 27px;
            color: #212121;
            width: 100%;
            text-align: center;
        }

        .sub-heading{
            font-family: GT Walsheim Pro;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            flex: none;
            order: 1;
            align-self: flex-start;
            color: #3A3A3A;
            margin-bottom: -10px !important;
        }

        .Qheading{
            padding-top: 20px;
            font-family: GT Walsheim Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.08em;
            text-transform: uppercase;
            color: #6A6A6A;
        }

        .addQues{
            padding: 2%;
            background-color: white;
            font-family: GT Walsheim Pro;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 18px;
            border: 1px solid #416EA8;
            box-sizing: border-box;
            border-radius: 4px;
            color: #416EA8;

        }


        .bottom{
            position: relative;
            bottom: -100px !important;
        }

        .back{
            font-family: GT Walsheim Pro;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            color: #416EA8;
        }

        .Publish{
            width: 125px;
            height: 42px;
            background: #416EA8;
            border-radius: 4px;
            font-family: GT Walsheim Pro;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 18px;
            color: #FFFFFF;


        }


        @media (max-width:750px){
            .quesCard{
                width: 80%;
                height: fit-content;
                padding-bottom: 10px;
            }

            .bottom{
                bottom: 0% !important;
            }

            .Publish{
                width: 100px;
            }

            .input{
                height: 40px;
            }
        }

        @media (max-width:400px){
            .Publish{
                width: 70px;
            }
        }
