@font-face {
  font-family: 'GT Walsheim Pro';
  src: local('GT Walsheim Pro Medium'), local('GT-Walsheim-Pro-Medium'),
      url('../font/GTWalsheimPro-Medium.woff2') format('woff2'),
      url('../font/GTWalsheimPro-Medium.woff') format('woff'),
      url('../font/GTWalsheimPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

a {
  color: #000000;
  text-decoration: none;
  background-color: transparent;
}

body {
  font-family: "GT Walsheim Pro";
  font-size: 1rem;
}


.light-text {
  color: #6c757d!important;
}

.navbar{
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(72, 74, 82, 0.08);
}
.navbar-light .navbar-nav .active>
.current-page {
  color: #416EA8;
}

.navbar-light .navbar-nav .active>.nav-link:hover {
  color: #416EA8;
}

.line {
  margin: 1.5rem 0;
  border: 2px solid rgba(33, 33, 33, 0.12);
}


.profile-userpic img {

  float: none;
  margin: 0 auto;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  width: 100%;
  height: 100%;


}

.top {
  border-top: 1px solid rgba(222,226,230, 1);
}









.topcomp {
  border-top: 0.5px solid rgba(72, 74, 82, 0.1);
}
.topcomp:hover{
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

a {
  color: #000000;
  text-decoration: none;
  background-color: transparent;
}

body {
  font-family: "GT Walsheim Pro";
  font-size: 1rem;
}

@media (min-width: 1200px) {
  .container{
      max-width: 1600px;
  }
}
.light-text {
  color: #6c757d!important;
}

.navbar{
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(72, 74, 82, 0.08);
}
.navbar-light .navbar-nav .active
{
  color: #416EA8;
}

div a,
div a:after,
div a:before {
  transition: all .1s;
}

div .activa{
  color: #416EA8;
}
div a:hover:after {
  width: 80%;
}

input[type="search"] {

  background: #F2F3F5;
  border-radius: 6px;
  margin-right: 4px;
}

.btn-color{
margin-top: 2px;
align-self: center;
align-items: center;
background-color: #416EA8;
border-radius: 20%;
}
.search-color{
color: #FFFFFF;
}
.line {
  margin: 2.5rem 0;
  border: 2px solid rgba(33, 33, 33, 0.12);
}


.top {
  border-top: 0.5px solid rgba(72, 74, 82, 0.1);
}










.top:hover{
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

#logo {
  width: 100%;
  max-width: 100px;
  max-height: auto;
}

#company-name {
  font-weight: 700;
  line-height: 1.2;
  font-size: 2.25rem;
}

#table-head {
  border-bottom: 0.5px solid rgba(72, 74, 82, 0.1);
}
.profile-userpic img {
  border-radius: 50%;
}
.navbar-light .navbar-nav .active>.nav-link:hover {
  color: #416EA8;
}
@media (min-width: 768px) {
  .hov:hover {
    color: #416EA8;
  }
  a.activo {
    border-bottom: 2px solid #416EA8;
    border-width: 80%;
    padding-bottom: 15px;
  }
  .profile-userpic img {
    max-height: 30px;
    max-width: 30px;
    border-radius: 50%;
  }
  .little-center-table{
    padding-left: 20px;
  }
  .padding {
    padding: .75rem !important;
  }
  input[type="search"] {
    width: 302px;
    height: 36px;
  }

}

@media(max-width: 768px) {
  #company-name {
    text-align: center;
    margin-bottom: 1.5rem;
  }
}





@font-face {
    font-family: 'GT Walsheim Pro';
    src: local('GT Walsheim Pro Medium'), local('GT-Walsheim-Pro-Medium'),
        url('GTWalsheimPro-Medium.woff2') format('woff2'),
        url('GTWalsheimPro-Medium.woff') format('woff'),
        url('GTWalsheimPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

a {
  color: #000000;
  text-decoration: none;
  background-color: transparent;
}

body {
  font-family: "GT Walsheim Pro";
  font-size: 1rem;
}


.light-text {
  color: #6c757d!important;
}

.navbar{
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(72, 74, 82, 0.08);
}
.navbar-light .navbar-nav .active>
.current-page {
  color: #416EA8;
}

.navbar-light .navbar-nav .active>.nav-link:hover {
  color: #416EA8;
}

.line {
  margin: 1.5rem 0;
  border: 2px solid rgba(33, 33, 33, 0.12);
}



.top {
  border-top: 1px solid rgba(222,226,230, 1);
}

#logo {
  width: 100%;
  max-width: 100px;
  max-height: auto;
  border-radius: 70%;
}

#company-name {
  font-weight: 700;
  line-height: 1.2;
  font-size: 2.25rem;
}

.apply {
    text-align: center;
    margin-left: 3rem !important;
    margin-top: 7rem !important;
}









    .modal {
      align-items: center;
      align-content: center;
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      padding-top: 500px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    .modalcontent {
        position: relative;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
        background-clip: padding-box;
        border-radius: .3rem;
        outline: 0;
    }
    .card{

      font-family: GT Walsheim Pro;
      transform: translate(-50%,-50%);
      border: white;
      background-color: white!important;
      padding: 30px;
      align-self:center ;
      top: 50%;
      left: 50%;
      width: 500px;
      background: #FFFFFF;
      border-radius: 16px;

      }
      .card-container{
          max-width: 500px;
          padding: 40px 40px;
      }

    .btn {
        font-weight: 700;
        height: 36px;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        cursor: default;
        font-family: GT Walsheim Pro;
    }

    .profile-img-card {
        width: 100px;
        height: 96px;
        margin: 0 auto 10px;
        display: block;

        border-radius: 50%;

    }

    .profile-name-card {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        margin: 10px 0 0;
        min-height: 1em;
        font-family: GT Walsheim Pro;
    }

    .reauth-email {
        display: block;
        color: #404040;
        line-height: 2;
        margin-bottom: 10px;
        font-size: 14px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        font-family: GT Walsheim Pro;
    }

    .form-signin #inputEmail,
    .form-signin #inputPassword {
        direction: ltr;
        height: 44px;
        font-size: 16px;
        font-family: GT Walsheim Pro;
    }

    .form-signin input[type=text],
    .form-signin input[type=text],
    .form-signin input[type=text],
    .form-signin button {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        z-index: 1;
        position: relative;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background: #EEF4FB;
        font-family: GT Walsheim Pro;
    }

    .form-signin .form-control:focus {
        border-color: rgb(104, 145, 162);
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
        font-family: GT Walsheim Pro;
    }

    .btn.btn-signin {
        /*background-color: #4d90fe; */
        /*background-color: rgb(104, 145, 162);
        /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
        padding: 0px;
        font-weight: 700;
        font-size: 14px;
        height: 36px;
        margin-left: 70px;
        margin-top: 30px;
      /*  -moz-border-radius: 3px;
        -webkit-border-radius: 3px;*/
        /*border-radius: 3px;*/
        border: none;
        background-color: #FFFFFF;
        /*-o-transition: all 0.218s;
        -moz-transition: all 0.218s;
        -webkit-transition: all 0.218s;
        transition: all 0.218s;*/
    }

    .btn.btn-signin:hover,
    .btn.btn-signin:active,
    .btn.btn-signin:focus {
        background-color: rgb(12, 97, 33);
    }

    .forgot-password {
        color: rgb(104, 145, 162);
    }

    .forgot-password:hover,
    .forgot-password:active,
    .forgot-password:focus{
        color: rgb(12, 97, 33);
    }

    h4.prof{
      text-align: center;
      margin-bottom: 20px;
        font-family: GT Walsheim Pro;

      font-size: 20px;
      font-weight: bold;
    }

    p.size{
        font-size: 10px;
        color: #34a1eb;
        margin-left: 150px;
        padding-top: 0.1px;
        padding-bottom: 20px;
    }

    label.company-name{
      color: 	rgb(211,211,211);
      font-size: 11px;
      font-style: GT Walsheim Pro;

    }

    p.full{
        font-size: 8px;
        text-align: end;
        font-family: GT Walsheim Pro;
    }

    button.mybtn{
      background-color: #304980;
      color : #FFFFFF;
      align-self: center;
      margin-left: 90px;
      margin-top: 30px;
        font-family: GT Walsheim Pro;

    }

    input.myfile{
      color : #FFFFFF;
        font-family: GT Walsheim Pro;
    }

    button.uploadbtn{

      width:250px;
      margin-left: 0px;
      border-width: thin;
      color : #304980;
      background-color: #FFFFFF;
      border-color: #304980;
      border-radius: 7px;
        font-family: GT Walsheim Pro;
        margin-left: 50px;
    }





















    .modalcomp {
      align-items: center;
      align-content: center;
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      padding-top: 400px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    .modalcontentcomp {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border-radius: .3rem;
        outline: 0;
    }
    .compcard{

        font-family: GT Walsheim Pro;
        position: absolute;
        transform: translate(-50%,-50%);
        border: white;
      background-color: white!important;
        padding: 30px;
        align-self:center ;
        top: 50%;
        left: 50%;
    position: absolute;
    width: 575px;
    height: 455px;
    background: #FFFFFF;
    border-radius: 16px;

        }
    .compname{
         width: 127px;
    height: 41px;
    font-size: 20px;
    line-height: 41px;
    margin: 0px 5px;
    transform:translate(13px);
    color: #212121;
    font-weight: 600;
    font-family: GT Walsheim Pro;
    }

    #compimage{

        text-shadow: gray ;
    height: 60px;
    transform:translate(10px);
    background: url(google-new-logo-1030x541.jpg);
    }

    .compright {

      text-align : left;
        top :50%;
        font-family: GT Walsheim Pro;
        transform: translate(335px,-170px);
    }

    .compleft{
        transform: translate(10px,15px);
    }

    .companswer{
        font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #212121;
        transform: translateY(-15px);
    }

    .complead{

        font-style: normal ;
        transform: translateY(-5px);
        font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #B6B6B6;


    }
    .compapply{
        font-size : 16px;
        align-self: center;
        position: static;
        width: 503px;
        height: 50px;
        color:white;
        background: #416EA8;
        transform: translate(-33px,-130px)!important;
        text-decoration-color:rgb(42, 42, 202);
        transform : translateY(-170px);
        border-radius: 5px;
        border: blue;}

    .compx{
        transform:translateY(-13px);
    }













    .confirmmodalcomp {
      align-items: center;
      align-content: center;
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      padding-top: 400px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    .confirmmodalcontentcomp{
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 70%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border-radius: .3rem;
        outline: 0;
        width: 607px;
        height: 272px;
        align-items: center;
        align-content: center;
        display: flex;
        margin-left: 390px;
    }



    .cancelcard-text {
			font-size: .9rem;
			font-family: "GT Walsheim Pro";
		}
		.cancelbtn-custom {
			color: #fff;
			background-color: #416EA8;
			border-color: #416EA8;
		}
		#cancelcompany {
			text-decoration: underline;
		}
		#cancellogo {
			width: 50px; height: 40px;
			margin: .5rem !important;
		}
