<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{% static 'css/StudentProfile1.css' %}">

  <title>Avalible interns</title>
</head>
<body>

  <nav class="navbar navbar-expand-md navbar-light fixed-top" id="main-navbar">
    <div class="container d-flex" style="height: 100%;">
      <div class="col-4">
        <span><a href="/">Student's page</a></span>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="col collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav m-0 d-flex justify-content-around" style="width: 100%;">
          <li class="nav-item active">
            <a class="nav-link current-page" href="#">Dashboard<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/student/availableInternships">Available Internship </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/" style="color: #416EA8;">Log Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="container">
    <div class="row" style="margin-top: 6rem;">
      <div class="col-12 col-md-2 d-flex justify-content-center align-items-center"><img src="{% static 'image/test_image_ecell.jpg' %}" id="logo"></div>
    <div class="col-md-4 pb-3 pb-md-0">
      <h1 id="company-name">Ayush Aggarwal</h1>
      <div class="light-text" style="font-size: .75rem;">DEPARTMENT</div>
      <p>Chemical Science And Technology</p>
      <div class="light-text" style="font-size: .75rem;">ROLL NUMBER</div>
      <p>160103019</p>
      <button id="myBtn" style="color: #416EA8; font-size: .75rem; display: block; text-decoration:none;">Edit Profile</button>
    </div>
    <div class="col-md-6 d-flex align-items-center">


    </div>
  </div>
    <hr class="line">

    <div class="row mb-5 justify-content-between">
        <div class="col-md-6 pb-4 pb-md-0" style="font-size: 1.5rem">
          <a class="d-block d-lg-inline" href="/studentProfile2">Internships you've registered for</a>
        </div>
        <div class="col-md-6 d-flex col-lg-4 flex-row-reverse align-items-start">
            <button class="btn btn-outline-primary">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
              <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
              </svg>
            </button>
            <input class="form-control form-control-dark w-100 w-lg-50" type="text" placeholder="Search" aria-label="Search">

          </div>
        </div>



    <div class="apply">
        <p>You haven't applied to any companies yet. Start by looking at<br>company's requirements</p>
      <a class="btn btn-primary btn-lg" href="#" role="button" style="background: #416EA8;">Apply to companies</a>
      </div>












      <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modalcontent">
          <div class="card card-container">
              <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
              <h4 class = "prof"> Edit Profile </h4>
              <span class="close" style="color: #aaaaaa;font-size: 28px;font-weight: bold;position: absolute;top: 10px;right: 10px;"><a href="#" style="text-decoration: none;">&times;</a></span>


              <img id="profile-img" class="profile-img-card" src="{% static 'image/test_image_ecell.jpg' %}" />
              <div class="container col-md-8">
                <button class="uploadbtn" onclick="document.getElementById('getFile').click()">Upload/Change Company Photo</button>
                  <input type='file' id="getFile" style="display:none">
              </div>
              <p class="size">
               <a href="#">
                   JPG or PNG. Max size 800KB.
               </a>
               </p>

              <p id="profile-name" class="profile-name-card"></p>
              <form class="form-signin">
                  <span id="reauth-email" class="reauth-email"></span>
                  <label class="company-name" for="ROLL NUMBER">
                       ROLL NUMBER
                  </label>
                  <input type="text" id="ROLL NUMBER" class="form-control" required autofocus>
                  <p class="full">
                   <a href="#">
                       Kindly use full name.Eg: Mechanical Engineering*.
                   </a>
                   </p>
                  <label class="company-name" for="DEPARTMENT">
                       DEPARTMENT
                  </label>
                  <input type="text" id="DEPARTMENT" class="form-control" required>
                  <label class="company-name" for="BIO">
                       BIO
                  </label>
                  <input type="text" id="BIO" class="form-control" required>

                  <div class="form-group row">

                      <div class="col col-md-4">
                        <button class="btn btn-sm smaller btn-btn-primary  mybtn" type="submit">Save Changes</button>
                      </div>

                      <div class="col col-sm-2">
                        <button class="btn btn-sm smaller btn-link btn-signin" type="submit">No</button>
                      </div>




                  </div>



              </form>

          </div>
        </div>

        </div>
      </div>








      <script>
      // Get the modal
      var modal = document.getElementById("myModal");

      // Get the button that opens the modal
      var btn = document.getElementById("myBtn");

      // Get the <span> element that closes the modal
      var span = document.getElementsByClassName("close")[0];

      // When the user clicks the button, open the modal

      btn.onclick = function() {
        modal.style.display = "block";
      }

      // When the user clicks on <span> (x), close the modal
      span.onclick = function() {
        modal.style.display = "none";
      }

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
      </script>



</body>
</html>
