<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{% static 'css/StudentProfile1.css' %}">

  <title>Avalible interns</title>
</head>
<body>

  <nav class="navbar navbar-expand-md navbar-light fixed-top" id="main-navbar">
    <div class="container d-flex" style="height: 100%;">
      <div class="col-4">
        <span><a href="/">Student's page</a></span>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="col collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav m-0 d-flex justify-content-around" style="width: 100%;">
          <li class="nav-item active">
            <a class="nav-link current-page" href="#">Dashboard<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/student/availableInternships">Available Internship </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
          <li class="nav-item active">
            {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'logout' %}" style="color: #416EA8;">Log Out</a>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="container">
    <div class="row" style="margin-top: 6rem;">
      <div class="col-12 col-md-2 d-flex justify-content-center align-items-center"><img src="{% static 'image/test_image_ecell.jpg' %}" id="logo"></div>
    <div class="col-md-4 pb-3 pb-md-0">
      <h1 id="company-name">{{ form.first_name }}</h1>
      <div class="light-text" style="font-size: .75rem;">DEPARTMENT</div>
      <p>Chemical Science And Technology</p>
      <div class="light-text" style="font-size: .75rem;">ROLL NUMBER</div>
      <p>160103019</p>
      <button id="myBtn" style="color: #416EA8; font-size: .75rem; display: block; text-decoration:none;">Edit Profile</button>
    </div>
    <div class="col-md-6 d-flex align-items-center">


    </div>
  </div>
    <hr class="line">

    <div class="row mb-5 justify-content-between">
        <div class="col-md-6 pb-4 pb-md-0" style="font-size: 1.5rem">
          <a class="d-block d-lg-inline" href="/studentProfile2">Internships you've registered for</a>
        </div>
        <div class="col-md-6 d-flex col-lg-4 flex-row-reverse align-items-start">
            <button class="btn btn-outline-primary">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
              <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
              </svg>
            </button>
            <input class="form-control form-control-dark w-100 w-lg-50" type="text" placeholder="Search" aria-label="Search">

          </div>
        </div>



    <div class="apply">
        <p>You haven't applied to any companies yet. Start by looking at<br>company's requirements</p>
      <a class="btn btn-primary btn-lg" href="/student/availableInternships" role="button" style="background: #416EA8;">Apply to companies</a>
      </div>



      <br>
      <br>
      <div class="little-center-table">

        <div class="row d-none d-md-flex" id="table-head">
            <div class="col-md-auto profile-userpic padding"><img src="https://www.htmlcsscolor.com/preview/128x128/FFFFFF.png" class="img-fluid"></div>
            <div class="col-md">
              <div class="row light-text">
                <div class="col padding">NAME</div>
                <div class="col padding">PROFILE</div>
                <div class="col padding">LOCATION</div>
                <div class="col padding">STIPEND</div>
              </div>

            </div>
          </div>


        <div class="row p-2 p-md-0 topcomp">
          <div class="col-3 col-md-auto profile-userpic padding p-0 mx-3 m-md-0"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAA1BMVEVBaeG1ENgtAAAASElEQVR4nO3BgQAAAADDoPlTX+AIVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwDcaiAAFXD1ujAAAAAElFTkSuQmCC" class="img-fluid"></div>
          <div class="col-auto col-md p-0 px-md-3">
            <a id="mycompmodalBtn1" style="display: block;text-decoration:none;">
            <div class="row flex-column flex-md-row  justify-content-center " style="height: 100%;">
              <div class="col-md-3 padding">Google</div>
              <div class="col-md-3 padding">SDE</div>
              <div class="col-md-3 padding">Hyderabad</div>
              <div class="col-md-3 padding">75,000 INR</div>
            </div>
            </a>
          </div>

        </div>


        <div class="row p-2 p-md-0 topcomp">
          <div class="col-3 col-md-auto profile-userpic padding p-0 mx-3 m-md-0"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAA1BMVEUSmCekSv+9AAAASElEQVR4nO3BgQAAAADDoPlTX+AIVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwDcaiAAFXD1ujAAAAAElFTkSuQmCC" class="img-fluid"></div>
          <div class="col-auto col-md p-0 px-md-3">
            <a class="myBtn" style="display: block;text-decoration:none;">
            <div class="row flex-column flex-md-row  justify-content-center " style="height: 100%;">
              <div class="col-md-3 padding">Instagram</div>
              <div class="col-md-3 padding">SDE</div>
              <div class="col-md-3 padding">Hyderabad</div>
              <div class="col-md-3 padding">N/A</div>
            </div>
            </a>
          </div>
      </div>












      <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modalcontent">
          <div class="card card-container">
              <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
              <h4 class = "prof"> Edit Profile </h4>
              <span class="close" style="color: #aaaaaa;font-size: 28px;font-weight: bold;position: absolute;top: 10px;right: 10px;"><a href="#" style="text-decoration: none;">&times;</a></span>


              <img id="profile-img" class="profile-img-card" src="{% static 'image/test_image_ecell.jpg' %}" />
              <div class="container col-md-8">
                <button class="uploadbtn" onclick="document.getElementById('getFile').click()">Upload/Change Company Photo</button>
                  <input type='file' id="getFile" style="display:none">
              </div>
              <p class="size">
               <a href="#">
                   JPG or PNG. Max size 800KB.
               </a>
               </p>

              <p id="profile-name" class="profile-name-card"></p>
              <form class="form-signin">
                  <span id="reauth-email" class="reauth-email"></span>
                  <label class="company-name" for="ROLL NUMBER">
                       ROLL NUMBER
                  </label>
                  <input type="text" id="ROLL NUMBER" class="form-control" required autofocus>
                  <p class="full">
                   <a href="#">
                       Kindly use full name.Eg: Mechanical Engineering*.
                   </a>
                   </p>
                  <label class="company-name" for="DEPARTMENT">
                       DEPARTMENT
                  </label>
                  <input type="text" id="DEPARTMENT" class="form-control" required>
                  <label class="company-name" for="BIO">
                       BIO
                  </label>
                  <input type="text" id="BIO" class="form-control" required>

                  <div class="form-group row">

                      <div class="col col-md-4">
                        <button class="btn btn-sm smaller btn-btn-primary  mybtn" type="submit">Save Changes</button>
                      </div>

                      <div class="col col-sm-2">
                        <button class="btn btn-sm smaller btn-link btn-signin" type="submit">No</button>
                      </div>




                  </div>



              </form>

          </div>
        </div>

        </div>
      </div>












      <div id="mycompModal1" class="modalcomp">

        <!-- Modal content -->
        <div class="modalcontentcomp">
          <div class="compcard">
              <div class="compupperpart">
                  <span class="closecomp" id="close" style="color: #aaaaaa;font-size: 28px;font-weight: bold;position: absolute;top: 10px;right: 10px;"><a href="#" style="text-decoration: none;">&times;</a></span>
                  <div class="compimage">
                      <img src= "https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-webinar-optimizing-for-success-google-business-webinar-13.png"alt="loading..." id = "compimage">
                  </div>
              </div>
              <div class = "compname">
              <h2> Google </h2><br><br></div>
          <div class = "compleft">
          <table>


              <div class = "compleft">
          <div class = "complead">
                  <p> PROFILE </p> </div>
              <div class = "companswer">
                  <p> Front-End Developer </p></div>
              <div class = "complead">
                  <p> LOCATION  </p> </div>
              <div class = "companswer">
                  <p> Hyderabad </p></div>
              <div class = "complead">
                  <p> STIPEND </p> </div>
              <div class = "companswer">
                  <p> N/A </p></div></div>
              <div class = "compright"><div class = "complead">
                  <p>ALLOWANCES </p> </div>
              <div class = "companswer">
                  <p> N/A </p></div>
              <div class = "complead">
                  <p> REMARKS </p> </div>
              <div class = "companswer">
                  <p> You will be working from </p><p class = "compx">home.</p> </p></div></div>
              <div class="compbutton">
                          <ul class="compul">
                              <li>
                                  <button type="button" class="compapply" id="compcancel1"  ><a  style="text-decoration: none;color: white; display: block;"> Cancel Application </button></a>
                              </li>
                          </ul>
                      </div>
                      </table>
          </div>
        </div>

        </div>
      </div>













      <div id="myconfirmModal1" class="confirmmodalcomp">

        <!-- Modal content -->
        <div class="confirmmodalcontentcomp">
          <div class=" col-12 col-sm-8 col-xl-6 bg-light d-flex justify-content-center" style="border-radius: 1rem !important">
                <div class="col-12 col-md-10 col-lg-9 col-xl-8 card-body text-center card-text">
                    <img src="https://c7.uihere.com/files/557/90/534/google-logo-g-suite-google.jpg" id="cancellogo">
                    <p class="m-0">Are you sure that you want to cancel your application for internship in</p>
                    <p id="cancelcompany">Google</p>
                    <a href="/student/profile" class="btn cancelbtn-custom py-1 px-3">Yes</a>
                    <a href="#" class="btn py-1 px-3" style="color: #416EA8; text-decoration: underline; outline: none;">No</a>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>









      <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal

        btn.onclick = function() {
          modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
          modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }
      </script>


      <script>
        // Get the modal
        var modalc = document.getElementById("mycompModal1");

        // Get the button that opens the modal
        var btnc = document.getElementById("mycompmodalBtn1");

        // Get the <span> element that closes the modal
        var spanc = document.getElementsByClassName("closecomp")[0];

        // When the user clicks the button, open the modal
        btnc.onclick = function() {
          modalc.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        spanc.onclick = function() {
          modalc.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modalc) {
            modalc.style.display = "none";
          }
        }
      </script>


      <script>

            var modalcc = document.getElementById("myconfirmModal1");

            // Get the button that opens the modal
            var btncc = document.getElementById("compcancel1");

            // When the user clicks the button, open the modal

            btncc.onclick = function() {
              modalcc.style.display = "block";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
              if (event.target == modalcc) {
                modalcc.style.display = "none";
              }
            }

      </script>


</body>
</html>
